<div ng-controller="adminController as admControl">
    <!-- line modal -->
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Добавить Пользователя</h3>
                </div>
                <!-- content goes here -->
                <form ng-submit="admControl.addUser(fName, lName, pos, login, password)">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputFName">Имя пользователя</label>
                            <input ng-model="fName" class="form-control" type="text" id="inputFName" placeholder="Введите имя"/>
                        </div>
                        <div class="form-group">
                            <label for="inputLName">Фамилия пользователя</label>
                            <input ng-model="lName" class="form-control" type="text" id="inputLName" placeholder="Введите фамилию"/>
                        </div>
                        <div class="form-group">
                            <label for="inputPos">Позиция в компании</label>
                            <input type="text" ng-model="pos" class="form-control" id="inputPos" placeholder="Введите позицию"/>
                        </div>
                        <div class="form-group">
                            <label for="inputLogin">Логин</label>
                            <input type="text" ng-model="login" class="form-control" id="inputLogin" placeholder="Введите логин">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Пароль</label>
                            <input type="password" ng-model="password" class="form-control" id="inputPassword" placeholder="Введите пароль"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Закрыть</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="Submit" id="saveProject" class="btn btn-default btn-hover-green" role="button">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Добро пожаловать, {{loggedUser.first_name}} {{loggedUser.surname}}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"></a></li>
                    <li>
                        <div ng-controller="loginController as logControl">
                            <a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse"
                               aria-expanded="false" aria-controls="nav-collapse1" ng-click = "logControl.logOut()">Выйти</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Мои Проекты</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-sm btn-primary btn-create">Создать</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                    <tr>
                        <th><em class="fa fa-cog"></em></th>
                        <th class="hidden-xs">ID</th>
                        <th>Название</th>
                        <th>Краткое описание</th>
                        <th>Оценки времени</th>
                        <th>Оценки стоимости</th>
                        <th>Реальное время</th>
                        <th>Реальная стоимость</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="project in projects">
                        <td align="center">
                            <a class="btn btn-default" ng-click="projControl.openProjectForEdit(project)"><em class="fa fa-pencil"></em></a>
                            <a class="btn btn-danger"
                               ng-click="projControl.deleteProject(project)"><em class="fa fa-trash"></em></a>
                        </td>
                        <td class="hidden-xs">{{project.id_project}}</td>
                        <td>{{project.name}}</td>
                        <td>{{project.description}}</td>
                        <td>{{project.time_estimated}}</td>
                        <td>{{project.cost_estimated}}</td>
                        <td>{{project.time_real}}</td>
                        <td>{{project.cost_real}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col col-xs-4">Page 1 of 5</div>
                    <div class="col col-xs-8">
                        <ul class="pagination hidden-xs pull-right">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <ul class="pagination visible-xs pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>