<div ng-controller="adminController as admControl">
    <!-- line modal -->
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Добавить Пользователя</h3>
                </div>
                <!-- content goes here -->
                <form ng-submit="admControl.addUser(fName, lName, pos, login, password, role)">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputFName">Имя пользователя</label>
                            <input ng-model="fName" class="form-control" type="text" ng-init = "fName=editableUser.first_name"
                                   id="inputFName" placeholder="Введите имя"/>
                        </div>
                        <div class="form-group">
                            <label for="inputLName">Фамилия пользователя</label>
                            <input ng-model="lName" class="form-control" type="text" ng-init="lName=editableUser.surname"
                                   id="inputLName" placeholder="Введите фамилию"/>
                        </div>
                        <div class="form-group">
                            <label for="inputPos">Позиция в компании</label>
                            <input type="text" ng-model="pos" class="form-control" id="inputPos" ng-init="pos=editableUser.position"
                                   placeholder="Введите позицию"/>
                        </div>
                        <div class="form-group">
                            <label for="inputLogin">Логин</label>
                            <input type="text" ng-model="login" class="form-control" ng-init="login=editableUser.login"
                                   id="inputLogin" placeholder="Введите логин">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Пароль</label>
                            <input type="password" ng-model="password" class="form-control" ng-init="password=editableUser.password"
                                   id="inputPassword" placeholder="Введите пароль"/>
                        </div>
                        <div class="form-group">
                            <label for="selectRole">Роль в системе</label>
                            <select ng-model="role" class="form-control" id="selectRole" ng-init="role=editableUser.role">
                                <option ng-repeat="role in roles" value="{{role}}">{{role.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Закрыть</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="Submit" id="saveProject" class="btn btn-default btn-hover-green" role="button">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Добро пожаловать, {{loggedUser.first_name}} {{loggedUser.surname}}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"></a></li>
                    <li>
                        <div ng-controller="loginController as logControl">
                            <a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse"
                               aria-expanded="false" aria-controls="nav-collapse1" ng-click = "logControl.logOut()">Выйти</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Все пользователи</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <button data-toggle="modal" data-target="#squarespaceModal"
                                ng-click="admControl.getRoles()" class="btn btn-sm btn-primary btn-create">Добавить пользователя</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                    <tr>
                        <th><em class="fa fa-cog"></em></th>
                        <th class="hidden-xs">ID</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Позиция</th>
                        <th>Роль в системе</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td align="center">
                            <a class="btn btn-default"
                               ng-click="admControl.openUserForEdit(user)"><em class="fa fa-pencil"></em></a>
                            <a class="btn btn-danger"
                               ng-click="admControl.deleteUser(user)"><em class="fa fa-trash"></em></a>
                        </td>
                        <td class="hidden-xs">{{user.id_user}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.position}}</td>
                        <td>{{user.role.name}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>