<div ng-controller="estimateTaskController as estTaskControl">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Добро пожаловать, {{loggedUser.first_name}} {{loggedUser.surname}}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <div ng-controller="loginController as logControl">
                        <a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse"
                           aria-expanded="false" aria-controls="nav-collapse1" ng-click = "logControl.logOut()">Выйти</a>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <form class="form-horizontal" ng-submit="estTaskControl.estimateTask(eTTimeEst)">
            <fieldset>
                <div id="legend1">
                    <legend class="">Информация о задаче</legend>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"  for="tProjName">Проект</label>
                    <div class="col-lg-6">
                        <input type="text" id="tProjName" readonly ng-model="ePName" class="form-control" ng-init="ePName = estimatedTask.job.project.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="tProjDesc">Краткое описание проекта</label>
                    <div class="col-lg-6">
                        <input type="text" id="tProjDesc" ng-model="eTPDesc" readonly class="form-control"
                               ng-init="eTPDesc = estimatedTask.job.project.description">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"  for="tJobName">Работа</label>
                    <div class="col-lg-6">
                        <input type="text" id="tJobName" readonly ng-model="eJobName" class="form-control" ng-init="eJobName = estimatedTask.job.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="tJobDesc">Краткое описание работы</label>
                    <div class="col-lg-6">
                        <input type="text" id="tJobDesc" ng-model="eTJDesc" readonly class="form-control"
                               ng-init="eTJDesc = estimatedTask.job.description">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"  for="taskName">Название задачи</label>
                    <div class="col-lg-6">
                        <input type="text" id="taskName" readonly ng-model="eTName" class="form-control"
                               ng-init="eTName = estimatedTask.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="taskDesc">Краткое описание задачи</label>
                    <div class="col-lg-6">
                        <input type="text" id="taskDesc" ng-model="eTDesc" readonly class="form-control"
                               ng-init="eTDesc = estimatedTask.description">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label" for="taskTimeEst">Время выполнения задачи:</label>
                    <div class="col-lg-6">
                        <input type="number" id="taskTimeEst" ng-model="eTTimeEst" placeholder="" class="form-control"
                               ng-init="eTTimeEst = estimatedTask.time_estimated">
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-lg-9 col text-right">
                        <button type="submit" class="btn btn-sm btn-primary btn-create">Оценить задачу</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>